@supports (display: grid) {
  .wrapper {
    display: grid;
    grid-template-rows: 115px auto 115px;
    grid-template-areas: "header" "main" "footer";

    .page-header {
      grid-area: header;
    }
    .main-content {
      grid-area: main;
    }
    .page-footer {
      grid-area: footer;
    }
  }
}
