.main-content {
  margin-top: 60px;
  padding: 101px 0 105px 163px;
  position: relative;
  &__logo {
    display: inline-block;
    position: absolute;
    left: 434px;
    top: 223px;
  }
  &__subtitle {
    padding: 20px 0 20px 510px;
    color: $c-main;
    font-family: $f-title;
    font-size: 26px;
  }
  &__box {
    // width: 302px;
    // height: 674px;
    // border: 7px solid $c-main;
    width: 316px;
    height: 688px;
    position: absolute;
    top: 0;
    left: 334px;
  }
}
.index-over {
  position: relative;
  z-index: 10;
}

.box {
  position: relative;
  z-index: 20;
}
.box--bottom {
  z-index: 1;
  top: -11px;
}

.animate-1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear forwards;
}
.animate-2 {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 2s linear forwards;
  animation-delay: 1.1s;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
