$c-main: #bd87a7;
$c-text: #fff;

$f-main: "Neutra-Regular";
$f-title: "Neutra-Titling";
$f-strong: "Neutra-Bold";

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
