@font-face {
  font-family: "Neutra-Regular";
  src: url("../asset/fonts/Neutra2Display-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Neutra-Bold";
  src: url("../asset/fonts/Neutra2Display-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Neutra-Titling";
  src: url("../asset/fonts/Neutra2Display-Titling.otf") format("opentype");
}
@import "reset";
@import "vars";
@import "common";
@import "typo";
@import "layout";
@import "header";
@import "main";
@import "footer";
