@font-face {
  font-family: "Neutraface";
  src: url("../asset/fonts/Neutraface2Display.otf") format("opentype");
}
@font-face {
  font-family: "Neutraface-Titling";
  src: url("../asset/fonts/Neutraface2Display-Titling.otf") format("opentype");
}
@import "reset";
@import "vars";
@import "common";
@import "typo";
@import "layout";
@import "header";
